@import url(icofont.min.css);
*{
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333;
}
.menu{
  padding:20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.menu h1{
  color: #f1356d;
}
.menu .links{
  margin-left: auto;
}
.menu a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px 12px;
}
.menu a:hover{
  color: #f1356d;
}
.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.btn{
  color: white;
  background-color: #f1356d;
  padding:6px 12px;
  border:none;
  margin:0 5px;
}
.personne-list > h2{
  text-align: center;
  margin-bottom: 25px;
  color: #f1356d;
}
.personne-wrapper{
  padding:15px;
  margin:5px 0;
  background-color: #eee;
  border-radius: 5px;
  position: relative;
}
.personne-wrapper a{
  text-decoration: none;
}
.personne-wrapper .title{
  color:#0999b3;
  margin-bottom: 10px;
}
.personne-wrapper .details{
  background: #ddd;
  padding:10px 15px;
  border-radius: 5px;
}
.personne-wrapper .details span{
  margin:0 15px;
}
.personne-wrapper .details span strong{
  color:#f1356d;
}
.personne-wrapper .actions{
  position:absolute;
  top:5px;
  right: 5px;
  font-size: 25px;
}
.personne-wrapper .actions a, .personne-wrapper .actions button{
  display: inline-block;
  margin:0 5px;
  padding: 1px 5px;
  border-radius: 5px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  border:none;
  cursor: pointer;
}
.personne-wrapper .actions i{
  color:#fff;
  font-size: 18px;
  line-height: 100%;
  vertical-align: middle;
}
.personne-wrapper .actions .edit{
  background: #d6a502;
}
.personne-wrapper .actions .del{
  background: #f10808;
}
.pers-details h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.pers-details p{
   margin: 20px 0;
}
.pers-details button{
   background-color: #f1356d;
   color: #fff;
   border: 0;
   padding: 8px;
   border-radius: 8px;
   cursor: pointer;
   margin-top:25px;
}
.create{
   max-width: 400px;
   margin: 0 auto;
   text-align: center;
}
.create label{
   text-align: left;
   display: block;
}
.create h2{
   font-size: 20px;
   color: #f1356d;
   margin-bottom: 30px;
}
.create input, .create textarea, .create select{
   width: 100%;
   padding: 6px 10px;
   margin: 10px 0;
   border: 1px solid #ddd;
   box-sizing: border-box;
   display: block;
}
.create button{
   background: #f1356d;
   color: #fff;
   border: 0;
   padding: 8px;
   border-radius: 8px;
   cursor: pointer;
}